
body {
  background: lightgrey;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
  color:  grey;
}

.gray  {
  background-color: lime);
  border: 1px salmon solid;
}

.gray:hover {
  background-color: lightgreen;
}

.white {
  background-color: white;
  border: 1px salmon solid;
}

a {
  background-color: red;
  float: right;
}

a:hover {
  background-color: violet;
}

.last {
  height: 140px;
  background: yellow;
  padding: 10px 30px; 
  margin-top: 10px;
}

button {
  color: white;
  background-color: green;
  padding: 5px 40px;
  font-size: 10px;
  border: gray solid 1px;
  border-radius: 5px;
  cursor: pointer;
}
